@font-face {
    src: url("FONT.TTF"),
}
.root{
     -fx-font-family: "8BIT WONDER";
     -fx-font-size: 15pt;
 }
.aqua-bar { -fx-accent: aqua; }
.chocolate-bar { -fx-accent: chocolate; }
.red-bar    { -fx-accent: red;    }